
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-30 block-30-sm item" style="background-image: url('../images/4.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <span class="subheading-sm">Quienes Somos</span>
                <h2 class="heading">La Hostal</h2>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <h2>Hostal exclusivo para Empresas y Organizaciones</h2>
            </div>
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque tincidunt ante et tincidunt. Ut bibendum quis nisi non rutrum. Morbi et fermentum mauris. Integer semper convallis diam. Nunc maximus quam lacus, eu condimentum lectus dapibus quis. Integer rutrum at sapien finibus commodo. Quisque vitae dolor semper, posuere metus vel, scelerisque ante. Donec eu ornare quam. Quisque in sem ipsum. Vestibulum eget mauris aliquam, molestie felis vitae, sollicitudin turpis. Donec ipsum nisi, convallis vel tempor sed, vulputate bibendum ipsum. Ut cursus elit lobortis, ornare magna a, viverra sem. </p>
                <p>Aliquam id ante mattis, egestas justo nec, interdum justo. Vestibulum faucibus efficitur lorem. Etiam vestibulum iaculis hendrerit. Praesent felis turpis, auctor et euismod vitae, laoreet vitae nisi. Proin pharetra, nunc nec dictum gravida, justo orci varius ex, non dapibus risus elit eget leo. Morbi quis efficitur odio. Quisque luctus, augue malesuada porta fringilla, turpis turpis congue lectus, vel ultrices libero mauris nec tellus. Vivamus tempus est sit amet urna euismod, sed dignissim ligula volutpat. Cras dui nulla, gravida quis hendrerit eu, feugiat vel quam. Aliquam imperdiet tempor nunc, id molestie tellus gravida eu. Proin pellentesque nibh at quam pellentesque, quis elementum tortor lobortis.</p>
            </div>

        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 text-center">
            <div class="col-md-12 mb-5">
                <h2>Nuestro Equipo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_1.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Elizabeth Gómez</h3>
                            <p class="block-38-subheading">Administradora</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_2.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Jennifer Rojas</h3>
                            <p class="block-38-subheading">Presidente</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="~/images/person_3.jpg" alt="Image placeholder">
                            <h3 class="block-38-heading">Patricio López</h3>
                            <p class="block-38-subheading">Marketing</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


