
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block-30 block-30-sm item" style="background-image: url('../images/25.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-10">
                <span class="subheading-sm">Servicios</span>
                <h2 class="heading">Instalaciones &amp; Servicios</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row site-section">
        <div class="col-lg-7 mb-5">
            <img src="~/images/3.jpg" alt="Image placeholder" class="img-fluid img-shadow">
        </div>
        <div class="col-lg-5 pl-md-5">

            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Cómodas Habitaciones</h3>
                    <p>Ofrecemos habitaciones privadas y compartidas con baño en suite.</p>
                </div>
            </div>
            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Wifi Gratis</h3>
                    <p>Libre acceso a WiFi en todas nuestras instalaciones.</p>
                </div>
            </div>
            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Traslados</h3>
                    <p>Contamos con varios convenios en traslados hacia aeropuertos y terminales.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row site-section pt-0">
        <div class="col-lg-7 mb-5 order-lg-2">
            <img src="~/images/4.jpg" alt="Image placeholder" class="img-fluid img-shadow">
        </div>
        <div class="col-lg-5 pr-md-5 order-lg-1">

            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Recepción 24 Horas</h3>
                    <p>Estamos disponible todo el día durante todo el año.</p>
                </div>
            </div>
            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Alimentación</h3>
                    <p>Media pensión con desayuno incluido y pensión completa con desayuno, almuerzo y cena incluidos.</p>
                </div>
            </div>
            <div class="media block-6">
                <div class="icon"><span class="ion-ios-checkmark"></span></div>
                <div class="media-body">
                    <h3 class="heading">Baños Privados y Compartidos</h3>
                    <p>Duchas con agua caliente y toallas incluidas.</p>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <img src="~/images/21.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                <h4>Zona de Comedores y Café</h4>
                <p>Disfruta un momento de tranquilidad en nuestras instalaciones.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <img src="~/images/23.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                <h4>Desayunos Americanos</h4>
                <p>Variadas alternativas para tu desayuno y comenzar con energía tu día.</p>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <img src="~/images/26.jpg" alt="Image placeholder" class="img-fluid img-shadow mb-4">
                <h4>Habitaciones Cómodas</h4>
                <p>Para que tengas un descanso reponedor y agradable.</p>
            </div>
        </div>`
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 section-heading">
                <span class="subheading-sm">Clientes</span>
                <h2 class="heading">Opiniones de Huéspedes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/images/person_3.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Martín Norambuena</h2>
                            <span class="meta">Cliente Satisfecho</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/images/person_2.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Nancy Gajardo</h2>
                            <span class="meta">Cliente Satisfecho</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-33">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/images/person_1.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Elizabeth Castro</h2>
                            <span class="meta">Cliente Satisfecho</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquid. Atque dolore esse veritatis iusto eaque perferendis non dolorem fugiat voluptatibus vitae error ad itaque inventore accusantium tempore dolores sunt. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


